* {
  padding: 0;
  margin: 0;
}
/*body {
  background-color: #4A5157;
  font-family: sans-serif;
}*/
.col {
  float: left;
  padding: 5px;
  margin: 5px;
}
/*.customyellow{
  background-color: yellow !important;
}*/
.container1 {
  height: auto;
  width: 160px;
  border: 1px solid #000000;
}
/*.cloneBoard {
  height: 70%;
}*/
.container1 .cloneBoard ul {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.cloneBoard ul li {
  height: 60px !important;
}
.removeBoard {
  height: 150px;
}
.container2 {
  /*height: 500px;
  width: 600px;*/
  /*width: 100%;*/
  border: 1px solid #000000;
}
.removeBoard {
  background-color: pink;
}
.mozgat {
  cursor: move;
  margin-bottom: 0px;
  position: absolute;
  z-index: 1;
  border: 1px solid #333;
}
.f75x30 {
  width: 40px;
  height: 40px;
  line-height: 18px;
  border-radius: 6%;
}
/*.f75x45 {
  width: 150px;
  height: 90px;
  line-height: 90px;
  border-radius: 2px;
}*/
.f75x30 p{
  font-family: sans-serif;
  font-size: 12px;
  /* color: Gainsboro; */
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
  margin-bottom: 0px !important;
}
.jobb {
  float: right;
}
/*.bal {
  float: left;
}*/
/*.f-szurke {
  background-color: #999999;
}*/
.item {
  cursor: move;
  border: 1px solid #333;
  border-collapse: collapse;
}
#ch_dndBoard1 {
  /*position: relative;
  border: 1px solid #4A5157;
  border-collapse: collapse;*/
  background: url('img/permitboard.png')no-repeat;
  display: block;
    height: 0;
    background-size: 100%;
    padding-bottom:71%;
}
/*#ch_dndBoard1 {
  width: 600px;
  height: 500px;
}*/
.snaptarget-hover {
  background-color: #616A72;
}
